<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include templates/header.ejs %>

<h3>About</h3>
<p>hI MY NAME IS BUCKY, I thought cheese from pizza was a vein and I was scared.</p>
<footer> <%= points %> </footer>
</body>
</html>